<div class="flex h-screen">
  <!-- Sidebar -->
  <div
    class="flex flex-col w-20 md:w-80 bg-primary-500 gap-4 text-primary-50 p-2 font-medium"
  >
    <!-- User -->
    <div class="flex gap-3 items-center mt-4 mb-4">
      <p-avatar
        class="flex justify-center items-center ml-3 min-w-[3rem] md:min-w-[3rem]"
        label="P"
        size="large"
        [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
      ></p-avatar>

      <div class="flex flex-col overflow-hidden hidden md:flex">
        <p class="text-primary-50 text-ellipsis overflow-hidden">
          Joanna Izydorczyk
        </p>
        <p class="text-primary-200 text-sm text-ellipsis overflow-hidden">
          joanna.izyydorczyk@gmail.com
        </p>
      </div>
    </div>

    <!-- Menu -->
    <div class="flex flex-col px-3">
      <span class="text-xs mb-2 text-primary-300 hidden md:block">MODUŁY</span>

      <div class="flex flex-col">
        <div
          class="w-full py-2 px-4 md:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center justify-center md:justify-start gap-2"
        >
          <i class="pi pi-home text-lg"></i>
          <span class="hidden md:inline">Obiekty</span>
        </div>
        <div
          class="w-full py-2 px-4 md:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center justify-center md:justify-start gap-2"
        >
          <i class="pi pi-bookmark text-lg"></i>
          <span class="hidden md:inline">Moje rezerwacje</span>
        </div>
        <div
          class="w-full py-2 px-4 md:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center justify-center md:justify-start gap-2"
        >
          <i class="pi pi-users text-lg"></i>
          <span class="hidden md:inline">Znajomi</span>
        </div>
      </div>
    </div>

    <!-- Settings -->
    <div class="flex flex-col px-3">
      <span class="text-xs mb-2 text-primary-300 hidden md:block">USTAWIENIA</span>

      <div class="flex gap-2 items-center justify-center md:justify-start">
        <p-toggleswitch [ngModel]="isDark()" (onChange)="onThemeClick()" />
        <span class="text-sm text-primary-100 hidden md:inline">{{
          isDark() ? 'Ciemny' : 'Jasny'
        }}</span>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="flex-1 flex flex-col text-text">
    <!-- Header -->
    <div
      class="flex items-center shadow-xl w-full h-24 px-6 border-b border-surface"
    >
      <h1 class="text-2xl font-semibold">Obiekty</h1>
    </div>

    <!-- Splitter Layout -->
    <p-splitter [minSizes]="[30]" [style]="{ height: '100%', border: 'none' }">
      <!-- Left Panel: Search / Filters -->
      <ng-template #panel>
        <div class="flex flex-col h-full p-4">
          <p-floatlabel>
            <input
              class="w-full"
              [pSize]="'small'"
              pInputText
              placeholder="Szukaj..."
              autocomplete="off"
            />
          </p-floatlabel>
        </div>
      </ng-template>

      <!-- Right Panel: Map -->
      <ng-template #panel>
        <div class="flex items-center justify-center h-full">
          <!-- <google-map height="500px" width="100%"></google-map> -->
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>
