<div class="m-4 mt-0 flex flex-col flex-1 gap-4 min-h-0">
  <pos-card class="flex flex-col flex-1 basis-0 min-h-0">
    <p-table
      class="flex flex-col flex-1 min-h-0"
      [scrollable]="true"
      scrollHeight="flex"
      stripedRows
      dataKey="id"
      [(selection)]="selectedProducts"
      [value]="clients"
    >
      <ng-template #caption>
        <div
          class="flex gap-0 flex-col items-start md:gap-4 md:flex-row md:items-center justify-between"
        >
          <div class="flex flex-col justify-center align-between mb-4">
            <span class="text-xl font-bold">Klienci</span>
            <p class="text-surface-500">
              Przeglądaj, dodawaj, edytuj i usuwaj dane wprowadzone na temat
              klientów
            </p>
          </div>
          <div class="flex gap-2">
            <p-buttongroup class="text-nowrap">
              <p-button
                (onClick)="visible.set(true)"
                label="Dodaj"
                icon="pi pi-plus"
                size="small"
              />
              <p-button
                label="Edytuj"
                icon="pi pi-trash"
                severity="primary"
                size="small"
                [outlined]="true"
              />
              <p-button
                label="Usuń zaznaczone"
                icon="pi pi-trash"
                severity="primary"
                disabled
                size="small"
                [outlined]="true"
              />
            </p-buttongroup>
          </div>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          <th pSortableColumn="name" class="table-cell">
            <div class="flex items-center gap-2">
              Imię i nazwisko
              <p-sortIcon field="name" />
            </div>
          </th>
          <th pSortableColumn="address" class="table-cell">
            <div class="flex items-center gap-2">
              Adres
              <p-sortIcon field="address" />
            </div>
          </th>
          <th class="hidden md:table-cell">Status</th>
          <th class="hidden lg:table-cell"></th>
        </tr>
      </ng-template>

      <ng-template #body let-client>
        <tr>
          <td>
            <p-tableCheckbox [value]="client" />
          </td>
          <td class="table-cell">
            <div class="flex gap-4 items-center">
              <div
                class="h-[1.75rem] w-[1.75rem] rounded-[50%] bg-surface-200"
              ></div>
              {{ client.name }}
            </div>
          </td>
          <td class="table-cell">{{ client.address }}</td>
          <td class="hidden md:table-cell">
            <p-tag
              [value]="client.status"
              [severity]="getSeverity(client.status)"
            />
          </td>
          <td>
            <div class="flex gap-2 justify-end">
              <p-button
                icon="pi pi-user"
                severity="secondary"
                variant="outlined"
                pTooltip="Zobacz szczegóły"
                tooltipPosition="top"
              />
              <p-button
                icon="pi pi-envelope"
                severity="secondary"
                variant="outlined"
                pTooltip="Skontaktuj się"
                tooltipPosition="top"
              />
              <p-button
                icon="pi pi-list-check"
                severity="secondary"
                variant="outlined"
                pTooltip="Zadania"
                tooltipPosition="top"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </pos-card>
</div>

<pos-clients-create [(visible)]="visible" />
