<form class="flex flex-col gap-14">
  @for (section of form().sections; track section.title) {
  <section class="flex flex-col">
    <div class="flex flex-col">
      <h1 class="font-semibold">{{ section.title }}</h1>
      <span class="text-sm text-surface-500">
        {{ section.description }}
      </span>
    </div>
    <p-divider />

    <div
      class="grid gap-4 grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]"
    >
      @for(field of section.fields; track $index) {
      <pos-form-field
        [label]="field.label"
        [value]="field.value"
        [isEditable]="field.isEditable"
      />
      }
    </div>
  </section>
  }
</form>
