<div
  class="overflow-hidden w-[100%] md:h-[100%] md:flex flex-col md:w-20 lg:w-80 bg-primary-500 gap-4 text-primary-50 p-2 font-medium"
>
  <pos-menu-user />

  <div class="hidden md:flex flex-col px-3">
    <span class="text-xs mb-2 text-primary-300 hidden lg:block">MODUŁY</span>

    <div class="flex flex-col">
      <div
        class="w-full py-2 px-4 lg:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center justify-center lg:justify-start gap-2"
      >
        <i class="pi pi-home text-lg"></i>
        <span class="hidden lg:inline">Obiekty</span>
      </div>
      <div
        class="w-full py-2 px-4 lg:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center justify-center lg:justify-start gap-2"
      >
        <i class="pi pi-bookmark text-lg"></i>
        <span class="hidden lg:inline">Moje rezerwacje</span>
      </div>
      <div
        class="w-full py-2 px-4 lg:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center justify-center lg:justify-start gap-2"
      >
        <i class="pi pi-users text-lg"></i>
        <span class="hidden lg:inline">Znajomi</span>
      </div>
    </div>
  </div>

  <div class="hidden md:flex flex-col px-3">
    <span class="text-xs mb-2 text-primary-300 hidden lg:block"
      >USTAWIENIA</span
    >

    <div class="flex gap-2 items-center justify-center lg:justify-start">
      <p-toggleswitch [ngModel]="isDark()" (onChange)="onThemeClick()" />
      <span class="text-sm text-primary-100 hidden lg:inline">{{
        isDark() ? 'Ciemny' : 'Jasny'
      }}</span>
    </div>
  </div>
</div>
