<div class="md:flex gap-3 items-center mt-4 mb-4">
  <p-avatar
    class="flex justify-center items-center ml-3 min-w-[3rem] lg:min-w-[3rem]"
    label="P"
    size="large"
    [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
  ></p-avatar>

  <div class="flex-col overflow-hidden hidden lg:flex">
    <p class="text-primary-50 text-ellipsis overflow-hidden">
      Joanna Izydorczyk
    </p>
    <p class="text-primary-200 text-sm text-ellipsis overflow-hidden">
      joanna.izyydorczyk@gmail.com
    </p>
  </div>
</div>
