<div class="flex flex-col md:flex-row h-screen">
  <pos-menu />

  <!-- Content -->
  <div class="flex-1 flex flex-col text-text">
    <!-- Header -->
    <pos-dashboard-header />

    <div class="relative w-full">
      <!-- Scrollable container -->
      <div class="flex overflow-x-auto gap-4 p-4 scrollbar-none">
        <!-- Card 1 -->
        <div
          class="flex-shrink-0 basis-72 md:flex-1 flex flex-col border border-surface-300 bg-surface-0 p-4 rounded-md shadow-md justify-between gap-3"
        >
          <div class="flex flex-col">
            <span class="text-surface-500 font-medium text-base"
              >Liczba mieszkańców</span
            >
            <div
              class="text-3xl text-primary-950 dark:text-primary-100 font-semibold"
            >
              352
            </div>
          </div>

          <p-tag
            severity="success"
            icon="pi pi-arrow-circle-up"
            value="25% więcej"
            class="flex items-center w-max"
          />
        </div>

        <!-- Card 2 -->
        <div
          class="flex-shrink-0 basis-72 md:flex-1 flex flex-col border border-error-dark bg-error text-error-dark p-3 rounded-md shadow-md justify-between gap-3"
        >
          <div class="flex flex-col">
            <span class="text-error-dark font-medium text-base"
              >Zaległości (czynsz, opłaty)</span
            >
            <div class="text-3xl text-error-dark font-semibold">24</div>
          </div>

          <p-tag
            severity="danger"
            icon="pi pi-arrow-circle-up"
            value="12% wszystkich rekordów"
            class="flex items-center w-max text-error-dark"
          />
        </div>

        <!-- Card 3 -->
        <div
          class="flex-shrink-0 basis-72 md:flex-1 flex flex-col border border-warn-dark bg-warn text-warn-dark p-3 rounded-md shadow-md justify-between gap-3"
        >
          <div class="flex flex-col">
            <span class="text-warn-dark font-medium text-base">Usterki</span>
            <div class="text-3xl text-warn-dark font-semibold">24</div>
          </div>

          <p-tag
            severity="warn"
            icon="pi pi-arrow-circle-up"
            value="12% więcej"
            class="flex items-center w-max text-warn-dark"
          />
        </div>
      </div>

      <!-- Fixed gradient shadows (only on mobile) -->
      <div
        class="pointer-events-none absolute top-0 left-0 h-full w-12 bg-gradient-to-r from-surface-50 to-transparent md:hidden"
      ></div>
      <div
        class="pointer-events-none absolute top-0 right-0 h-full w-12 bg-gradient-to-l from-surface-50 to-transparent md:hidden"
      ></div>
    </div>

    <div class="m-4 flex flex-col flex-1 gap-4">
      <div
        class="bg-surface-0 basis-0 dark:bg-surface-50 border border-surface-300 text-text-primary p-3 rounded-md shadow-md flex flex-col flex-1 overflow-hidden"
      >
        <p-table
          [scrollable]="true"
          scrollHeight="flex"
          stripedRows
          [value]="products"
        >
          <ng-template #caption>
            <div
              class="flex gap-0 flex-col items-start md:gap-4 md:flex-row md:items-center justify-between"
            >
              <div class="flex flex-col justify-center align-between mb-4">
                <span class="text-xl font-bold">Mieszkańcy</span>
                <p class="text-surface-500">
                  Przeglądaj, dodawaj, edytuj i usuwaj dane wprowadzone na temat
                  mieszkańców
                </p>
              </div>
              <div class="flex gap-2">
                <p-buttongroup class="text-nowrap">
                  <p-button
                    (onClick)="visible.set(true)"
                    label="Dodaj"
                    icon="pi pi-plus"
                    size="small"
                  />
                  <p-button
                    label="Edytuj"
                    icon="pi pi-trash"
                    severity="primary"
                    size="small"
                    [outlined]="true"
                  />
                  <p-button
                    label="Usuń zaznaczone"
                    icon="pi pi-trash"
                    severity="primary"
                    disabled
                    size="small"
                    [outlined]="true"
                  />
                </p-buttongroup>
              </div>
            </div>
          </ng-template>

          <ng-template #header>
            <tr>
              <th pSortableColumn="fname" class="table-cell">
                <div class="flex items-center gap-2">
                  Imię
                  <p-sortIcon field="fname" />
                </div>
              </th>
              <th pSortableColumn="lname" class="table-cell">
                <div class="flex items-center gap-2">
                  Nazwisko
                  <p-sortIcon field="lname" />
                </div>
              </th>
              <th class="hidden md:table-cell">Adres</th>
              <th class="hidden lg:table-cell">Akcje</th>
            </tr>
          </ng-template>

          <ng-template #body let-product>
            <tr>
              <td class="table-cell">{{ product.code }}</td>
              <td class="table-cell">{{ product.name }}</td>
              <td class="hidden md:table-cell">{{ product.category }}</td>
              <td class="hidden lg:table-cell">{{ product.quantity }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Dodaj nowego mieszkańca"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '45rem' }"
>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col">
      <h1 class="font-semibold">Podstawowe informacje</h1>
      <span class="text-sm text-surface-500">
        Wypełnij podstawowe informacje nt. mieszkańca
      </span>
    </div>

    <form
      class="grid gap-4 grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]"
    >
      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="firstName"
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="firstName">Imię</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="firstName"
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="firstName">Nazwisko</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="firstName"
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="firstName">Wiek</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="firstName"
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="firstName">Narodowość</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="firstName"
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="firstName">Adres</label>
      </p-floatlabel>
    </form>
  </div>

  <div class="flex flex-col gap-4 mt-8">
    <div class="flex flex-col">
      <h1 class="font-semibold">Dodatkowe informacje</h1>
      <span class="text-sm text-surface-500">
        Wypełnij pozostałe dodatkowe informacje
      </span>
    </div>

    <form
      class="grid gap-4 grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]"
    >
      <p-floatlabel variant="on" class="p-float-label w-full">
        <input pInputText id="firstName" autocomplete="off" class="w-full" />
        <label for="firstName">Imię</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input pInputText id="firstName" autocomplete="off" class="w-full" />
        <label for="firstName">Nazwisko</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input pInputText id="firstName" autocomplete="off" class="w-full" />
        <label for="firstName">Wiek</label>
      </p-floatlabel>

      <p-select
        tooltip="dupa"
        [options]="countries"
        optionLabel="name"
        [showClear]="true"
        placeholder="Select a Country"
        class="p-float-label flex-grow"
        appendTo="body"
      >
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              [class]="'flag flag-pl'"
              style="width: 18px"
              alt=""
            />
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country #item>
          <div class="flex items-center gap-2">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              [class]="'flag flag-pl'"
              style="width: 18px"
              alt=""
            />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-select>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input pInputText id="firstName" autocomplete="off" class="w-full" />
        <label for="firstName">Adres</label>
      </p-floatlabel>
    </form>
  </div>

  <ng-template #footer>
    <div class="flex gap-4 mt-4 w-full">
      <p-button
        label="Zamknij"
        severity="primary"
        [outlined]="true"
        (click)="visible.set(false)"
        class="basis-[100%]"
        styleClass="w-full"
      />
      <p-button
        label="Zapisz"
        class="basis-[100%]"
        severity="primary"
        (click)="visible.set(false)"
        styleClass="w-full"
      />
    </div>
  </ng-template>
</p-dialog>
