<div class="flex flex-col md:flex-row h-screen">
  <pos-menu />

  <!-- Content -->
  <div class="flex-1 flex flex-col text-text">
    <!-- Header -->
    <pos-dashboard-header />

    <div class="inline-flex mt-4 ml-4 mr-4 gap-4">
      <div
        class="flex-1 flex flex-col border border-surface-300 bg-surface-0 p-4 rounded-md shadow-md justify-between gap-3"
      >
        <div class="flex flex-col">
          <span class="text-surface-500 font-medium text-base"
            >Liczba mieszkańców</span
          >
          <div
            class="text-3xl text-primary-950 dark:text-primary-100 font-semibold"
          >
            352
          </div>
        </div>

        <p-tag
          severity="success"
          icon="pi pi-arrow-circle-up"
          value="25% więcej"
          class="flex items-center w-max"
        />
      </div>
      <div
        class="flex-1 flex flex-col border border-error-dark bg-error text-error-dark p-3 rounded-md shadow-md justify-between gap-3"
      >
        <div class="flex flex-col">
          <span class="text-error-dark font-medium text-base"
            >Zaległości (czynsz, opłaty)</span
          >
          <div class="text-3xl text-error-dark font-semibold">24</div>
        </div>

        <p-tag
          severity="danger"
          icon="pi pi-arrow-circle-up"
          value="12% wszystkich rekordów"
          class="flex items-center w-max text-error-dark"
        />
      </div>
      <div
        class="flex-1 border border-warn-dark bg-warn text-warn-dark p-3 rounded-md shadow-md"
      >
        Div 3
      </div>
    </div>

    <div class="m-4 flex flex-col flex-1 gap-4">
      <div
        class="bg-surface-0 basis-0 dark:bg-surface-50 border border-surface-300 text-text-primary p-3 rounded-md shadow-md flex flex-col flex-1 overflow-hidden"
      >
        <p-table
          [scrollable]="true"
          scrollHeight="flex"
          stripedRows
          [value]="products"
        >
          <ng-template #caption>
            <div
              class="flex gap-0 flex-col items-start md:gap-4 md:flex-row md:items-center justify-between"
            >
              <div class="flex flex-col justify-center align-between mb-4">
                <span class="text-xl font-bold">Mieszkańcy</span>
                <p class="text-surface-500">
                  Przeglądaj, dodawaj, edytuj i usuwaj dane wprowadzone na temat
                  mieszkańców
                </p>
              </div>
              <div class="flex gap-2">
                <p-buttongroup class="text-nowrap">
                  <p-button label="Dodaj" icon="pi pi-plus" size="small" />
                  <p-button
                    label="Edytuj"
                    icon="pi pi-trash"
                    severity="primary"
                    size="small"
                    [outlined]="true"
                  />
                  <p-button
                    label="Usuń zaznaczone"
                    icon="pi pi-trash"
                    severity="primary"
                    disabled
                    size="small"
                    [outlined]="true"
                  />
                </p-buttongroup>
              </div>
            </div>
          </ng-template>

          <ng-template #header>
            <tr>
              <th pSortableColumn="fname" class="table-cell">
                <div class="flex items-center gap-2">
                  Imię
                  <p-sortIcon field="fname" />
                </div>
              </th>
              <th pSortableColumn="lname" class="table-cell">
                <div class="flex items-center gap-2">
                  Nazwisko
                  <p-sortIcon field="lname" />
                </div>
              </th>
              <th class="hidden md:table-cell">Adres</th>
              <th class="hidden lg:table-cell">Akcje</th>
            </tr>
          </ng-template>

          <ng-template #body let-product>
            <tr>
              <td class="table-cell">{{ product.code }}</td>
              <td class="table-cell">{{ product.name }}</td>
              <td class="hidden md:table-cell">{{ product.category }}</td>
              <td class="hidden lg:table-cell">{{ product.quantity }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
