<div
  (click)="onHamburgerClick()"
  (keypress)="onHamburgerClick()"
  tabindex="1"
  class="md:hidden p-4 cursor-pointer"
>
  <i class="pi pi-bars"></i>
</div>

@if(isOpen()) {
<div
  (click)="isOpen.set(false)"
  (keydown)="isOpen.set(false)"
  tabindex="-1"
  class="fixed md:hidden bg-black opacity-60 w-full h-full top-0 left-0 z-10"
></div>
}

<div
  [ngClass]="
    isOpen()
      ? 'translate-x-0 md:translate-x-0'
      : '-translate-x-full md:translate-x-0'
  "
  class="flex flex-col py-4 min-w-[20rem] md:min-w-0 fixed top-0 left-0 h-screen w-auto md:h-auto md:relative gap-4 bg-primary-500 z-10 transition-transform duration-300"
>
  <div class="flex flex-col px-3">
    <span class="md:hidden lg:block text-xs mb-2 text-primary-300">MODUŁY</span>

    <div class="flex flex-col">
      <div
        class="w-full py-2 px-4 lg:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center md:justify-center lg:justify-start gap-2"
      >
        <i class="pi pi-home text-lg"></i>
        <span class="md:hidden lg:inline text-nowrap">Obiekty</span>
      </div>
      <div
        class="w-full py-2 px-4 lg:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center md:justify-center lg:justify-start gap-2"
      >
        <i class="pi pi-bookmark text-lg"></i>
        <span class="md:hidden lg:inline text-nowrap">Moje rezerwacje</span>
      </div>
      <div
        class="w-full py-2 px-4 lg:px-4 rounded-lg cursor-pointer transition hover:bg-primary-600 flex items-center md:justify-center lg:justify-start gap-2"
      >
        <i class="pi pi-users text-lg"></i>
        <span class="md:hidden lg:inline text-nowrap">Znajomi</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col px-3">
    <span class="md:hidden lg:block text-xs mb-2 text-primary-300"
      >USTAWIENIA</span
    >

    <div
      class="flex gap-2 py-2 px-4 md:px-0 items-center md:justify-center lg:justify-start"
    >
      <p-toggleswitch [ngModel]="isDark()" (onChange)="onThemeClick()" />
      <span class="text-sm text-primary-100 hidden lg:inline">{{
        isDark() ? 'Ciemny' : 'Jasny'
      }}</span>
    </div>
  </div>
</div>
