<p-dialog
  header="Dodaj nowego klienta"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '45rem' }"
>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col">
      <h1 class="font-semibold">Podstawowe informacje</h1>
      <span class="text-sm text-surface-500">
        Wypełnij podstawowe informacje nt. klienta
      </span>
    </div>

    <form
      class="grid gap-4 grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]"
    >
      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="firstName"
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="firstName">Imię i nazwisko</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <p-inputmask mask="99-999" placeholder="Wpisz kod pocztowy" fluid />

        <label for="address">Kod pocztowy</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="address"
          fluid
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="address">Miasto</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input
          pInputText
          id="address"
          fluid
          fluidclass="w-full"
          autocomplete="off"
          class="w-full"
        />
        <label for="address">Ulica</label>
      </p-floatlabel>
    </form>
  </div>

  <div class="flex flex-col gap-4 mt-8">
    <div class="flex flex-col">
      <h1 class="font-semibold">Status klienta</h1>
      <span class="text-sm text-surface-500">
        Wypełnij pozostałe dodatkowe informacje
      </span>
    </div>

    <form
      class="grid gap-4 grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]"
    >
      <p-select
        [options]="countries"
        optionLabel="name"
        showClear
        placeholder="Wybierz status"
        class="p-float-label flex-grow"
        appendTo="body"
      >
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>

        <ng-template let-client #item>
          <div class="flex items-center gap-2">
            <p-tag
              [value]="client.status"
              [severity]="getSeverity(client.status)"
            />
          </div>
        </ng-template>
      </p-select>

      <p-floatlabel variant="on" class="p-float-label w-full">
        <input pInputText id="firstName" autocomplete="off" class="w-full" />
        <label for="firstName">Adres</label>
      </p-floatlabel>
    </form>
  </div>

  <ng-template #footer>
    <div class="flex flex-col md:flex-row gap-2 md:gap-4 mt-4 w-full">
      <p-button
        label="Zamknij"
        severity="primary"
        [outlined]="true"
        (click)="visible.set(false)"
        class="basis-[100%]"
        styleClass="w-full"
      />
      <p-button
        label="Zapisz"
        class="basis-[100%]"
        severity="primary"
        (click)="visible.set(false)"
        styleClass="w-full"
      />
    </div>
  </ng-template>
</p-dialog>
