<div class="flex w-screen h-screen justify-center items-center px-6">
  <div class="flex flex-col justify-center basis-[30rem] w-fit mb-16">
    <div class="flex flex-col justify-center text-center gap-6 mb-12">
      <h1 class="font-bold text-5xl">Zaloguj się do CRM</h1>
      <span class="text-lg text-surface-500"
        >Wpisz adres email oraz hasło, aby się zalogować</span
      >
    </div>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <label for="username">Email</label>
        <input size="large" fluid pSize="large" placeholder="Wpisz adres email" pInputText id="username" aria-describedby="username-help" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="username">Hasło</label>

        <p-password
          size="large"
          toggleMask
          [feedback]="false"
          fluid
          placeholder="Wpisz swoje hasło"
        />
      </div>
    </div>

    <div class="flex justify-between mt-4">
      <div class="flex gap-2 items-center">
        <p-checkbox inputId="remember" [binary]="true" />
        <label for="remember">Zapamiętaj mnie</label>
      </div>

      <p-button label="Zapomniałeś hasła?" link />
    </div>

      <p-button (onClick)="onLoginClick()" label="Zaloguj się" styleClass="w-full" class="w-full mt-8" />
  </div>
</div>

  <div class="absolute bottom-0 my-6 w-full text-center flex items-center justify-center text-surface-500">
    <span>Copyright ©rentCRM 2025</span>
      <p-button label="Polityka prywatności?" link />
  </div>
